<footer id="contact">
<div class="wrap">
<span class="script" style="font-size:40px">Let's talk</span>
<h2>Контакты</h2>
<div class="links">
<a class="btn" href="https://instagram.com/https://www.instagram.com/sana6ar?stkn=MXBuZjZsaWc2anpyZw==" target="_blank" rel="noopener">Instagram</a>
<a class="btn" href="https://wa.me/996707490039" target="_blank" rel="noopener">WhatsApp</a>
<a class="btn" href="https://t.me/Sanabar02" target="_blank" rel="noopener">Telegram</a>
<a class="btn" href="https://github.com/sinon2002" target="_blank" rel="noopener">GitHub</a>
</div>
</div>
</footer>
